# Data Structures in python

# List

 1.Ordered
 2.Changeable
 3.Allow Duplicates

In [1]:
l1=['data','science', 1,2,3,4,100,True,False,[1,2,3,4,5]]

In [2]:
l1

['data', 'science', 1, 2, 3, 4, 100, True, False, [1, 2, 3, 4, 5]]

In [3]:
import sys        #size of list
sys.getsizeof(l1)

136

In [4]:
t1=('data','science', 1,2,3,4,100,True,False,[1,2,3,4,5])

In [5]:
sys.getsizeof(t1)  #size of touple

120

In [6]:
t1[-1]

[1, 2, 3, 4, 5]

In [7]:
t1[-1][2]

3

In [8]:
l1[-1][2]

3

In [9]:
l1

['data', 'science', 1, 2, 3, 4, 100, True, False, [1, 2, 3, 4, 5]]

In [10]:
l1[0]

'data'

In [11]:
l1[0]='Tanvir'

In [12]:
l1

['Tanvir', 'science', 1, 2, 3, 4, 100, True, False, [1, 2, 3, 4, 5]]

In [13]:
t1

('data', 'science', 1, 2, 3, 4, 100, True, False, [1, 2, 3, 4, 5])

In [14]:
t1[0]='Islam'

TypeError: 'tuple' object does not support item assignment

In [15]:
l1=['data','science', 1,2,3,4,100,True,False,[1,2,3,4,5]]

In [16]:
l1

['data', 'science', 1, 2, 3, 4, 100, True, False, [1, 2, 3, 4, 5]]

In [17]:
l1[2]

1

In [18]:
l1[2:6]   #colon means 2 to 6   #initial to (destination-1)

[1, 2, 3, 4]

In [19]:
l1[-2]

False

In [20]:
string='data science'
string

'data science'

In [21]:
string.split()

['data', 'science']

In [22]:
for x in range(len(string)):
   print(string[x],x)

d 0
a 1
t 2
a 3
  4
s 5
c 6
i 7
e 8
n 9
c 10
e 11

In [23]:
data=string.split()

In [24]:
for x in range(len(data)):
   print(data[x],x)

data 0
science 1

In [25]:
string='data science'
string

'data science'

In [26]:
string.split()

['data', 'science']

In [27]:
string.split()[0]

'data'

In [28]:
string.split()[0][2]

't'

In [29]:
l1

['data', 'science', 1, 2, 3, 4, 100, True, False, [1, 2, 3, 4, 5]]

In [30]:
l1.append('Tanvir')
l1

['data', 'science', 1, 2, 3, 4, 100, True, False, [1, 2, 3, 4, 5], 'Tanvir']

In [31]:
l1=['data', 'science', 1, 2, 3, 4, 100, True, False, [1, 2, 3, 4, 5]]

In [32]:
l1

['data', 'science', 1, 2, 3, 4, 100, True, False, [1, 2, 3, 4, 5]]

In [33]:
l1.append('Sohan')

In [34]:
l1

['data', 'science', 1, 2, 3, 4, 100, True, False, [1, 2, 3, 4, 5], 'Sohan']

In [35]:
l1.append("Saha")

In [36]:
l1

['data',
 'science',
 1,
 2,
 3,
 4,
 100,
 True,
 False,
 [1, 2, 3, 4, 5],
 'Sohan',
 'Saha']

In [37]:

l1.insert(3,'teacher')

In [38]:
l1

['data',
 'science',
 1,
 'teacher',
 2,
 3,
 4,
 100,
 True,
 False,
 [1, 2, 3, 4, 5],
 'Sohan',
 'Saha']

In [39]:
l1.index('teacher')

3

In [40]:
l2=l1

In [41]:
l2

['data',
 'science',
 1,
 'teacher',
 2,
 3,
 4,
 100,
 True,
 False,
 [1, 2, 3, 4, 5],
 'Sohan',
 'Saha']

In [42]:
l2.append('EDU')

In [43]:
l2

['data',
 'science',
 1,
 'teacher',
 2,
 3,
 4,
 100,
 True,
 False,
 [1, 2, 3, 4, 5],
 'Sohan',
 'Saha',
 'EDU']

In [44]:
l1

['data',
 'science',
 1,
 'teacher',
 2,
 3,
 4,
 100,
 True,
 False,
 [1, 2, 3, 4, 5],
 'Sohan',
 'Saha',
 'EDU']

In [45]:
l2.remove(1)

In [46]:
l2

['data',
 'science',
 'teacher',
 2,
 3,
 4,
 100,
 True,
 False,
 [1, 2, 3, 4, 5],
 'Sohan',
 'Saha',
 'EDU']

In [47]:
l1

['data',
 'science',
 'teacher',
 2,
 3,
 4,
 100,
 True,
 False,
 [1, 2, 3, 4, 5],
 'Sohan',
 'Saha',
 'EDU']

In [48]:
id(l1)  #memory address

1958056476864

In [49]:
id(l2)

1958056476864

In [50]:
l3=l2.copy()

In [51]:
l3

['data',
 'science',
 'teacher',
 2,
 3,
 4,
 100,
 True,
 False,
 [1, 2, 3, 4, 5],
 'Sohan',
 'Saha',
 'EDU']

In [52]:
l2

['data',
 'science',
 'teacher',
 2,
 3,
 4,
 100,
 True,
 False,
 [1, 2, 3, 4, 5],
 'Sohan',
 'Saha',
 'EDU']

In [53]:
l3

['data',
 'science',
 'teacher',
 2,
 3,
 4,
 100,
 True,
 False,
 [1, 2, 3, 4, 5],
 'Sohan',
 'Saha',
 'EDU']

In [54]:
l3.pop(-2)     # index use in pop
               # remove use direct value

'Saha'

In [55]:
l3

['data',
 'science',
 'teacher',
 2,
 3,
 4,
 100,
 True,
 False,
 [1, 2, 3, 4, 5],
 'Sohan',
 'EDU']

In [56]:
l2

['data',
 'science',
 'teacher',
 2,
 3,
 4,
 100,
 True,
 False,
 [1, 2, 3, 4, 5],
 'Sohan',
 'Saha',
 'EDU']

In [57]:
l3

['data',
 'science',
 'teacher',
 2,
 3,
 4,
 100,
 True,
 False,
 [1, 2, 3, 4, 5],
 'Sohan',
 'EDU']

In [58]:
'''
1.positive index start from 0 to n-1
2.Negative index start from (-1) to ....

'''

'\n1.positive index start from 0 to n-1\n2.Negative index start from (-1) to ....\n\n'

In [59]:
l2

['data',
 'science',
 'teacher',
 2,
 3,
 4,
 100,
 True,
 False,
 [1, 2, 3, 4, 5],
 'Sohan',
 'Saha',
 'EDU']

In [60]:
del l2[9]

In [61]:
l2

['data',
 'science',
 'teacher',
 2,
 3,
 4,
 100,
 True,
 False,
 'Sohan',
 'Saha',
 'EDU']

In [62]:
del l2[10]

In [63]:
l2

['data', 'science', 'teacher', 2, 3, 4, 100, True, False, 'Sohan', 'EDU']

In [64]:
l3=[1,5,3,5,1,9,10,6,2,4,8]

In [65]:
l3.sort()

In [66]:
l3

[1, 1, 2, 3, 4, 5, 5, 6, 8, 9, 10]

In [67]:
l3.reverse()

In [68]:
l3

[10, 9, 8, 6, 5, 5, 4, 3, 2, 1, 1]

In [69]:
l3.count(5)

2

In [70]:
l3.clear()

In [71]:
l3

[]

In [72]:
l3.append('Tanvir')

In [73]:
l3

['Tanvir']

In [74]:
l3.clear()
l3

[]

In [75]:
l3=[1,5,3,5,1,9,10,6,2,4,8]
l3

[1, 5, 3, 5, 1, 9, 10, 6, 2, 4, 8]

In [76]:
total = 0
for x in l3:
    print(total)
    total += x
print(total)

0
1
6
9
14
15
24
34
40
42
46
54

# input function

In [77]:
10|+ 20

30

In [78]:
x = 10
y = 20
x+y

30

In [79]:
x*y

200

In [80]:
x%y

10

In [81]:
x/y

0.5

In [82]:
y/x

2.0

In [83]:
y%x

0

In [84]:
x = input()
y = input()
x + y

''

In [87]:
x = int(input())
y = int(input())
x + y

10
10

20

In [88]:
x = int(input('Enter your first number:  '))
y = int(input('Enter your second number: '))
x + y

Enter your first number:  20
Enter your second number: 65

85

In [89]:
x

20

In [90]:
y

65

# List Input

In [92]:
list1 = []
n = int(input())
for i in range (n):
    new_element = int(input())
    list1.append(new_element)
    print (list1)

3
5
[5]
6
[5, 6]
5
[5, 6, 5]

In [93]:
list1

[5, 6, 5]

In [94]:
list1

[5, 6, 5]

# Tuple in Python

In [95]:
tup1 =  'data science'

In [96]:
tup1

'data science'

In [97]:
type(tup1)

str

In [98]:
tup1 = ('data science',)

In [99]:
tup1

('data science',)

In [100]:
type(tup1)

tuple

In [101]:
tup1 = ('data science', 'AI')

In [102]:
type(tup1)

tuple

In [103]:
tup1[0] = 1

TypeError: 'tuple' object does not support item assignment

In [104]:
#tup to list

In [105]:
tup2 = list(tup1)

In [106]:
tup2

['data science', 'AI']

In [107]:
tup2[0]= 1

In [108]:
tup2

[1, 'AI']

In [109]:
tup1 = tuple(tup2)

In [110]:
tup1

(1, 'AI')

In [111]:
type(tup1)

tuple

In [112]:
'AI' in tup2

True

In [113]:
'AI' in tup1

True

In [114]:
10 in tup2

False

In [115]:
10 in tup1

False

In [116]:
tup2

[1, 'AI']

In [117]:
del tup1[1]

TypeError: 'tuple' object doesn't support item deletion

In [118]:
tup1.remove(1)

AttributeError: 'tuple' object has no attribute 'remove'

In [119]:
tup1

(1, 'AI')

In [120]:
slice = tup1[1:2]
slice

('AI',)

In [121]:
tup1[:1]

(1,)

In [122]:
tup1[:1] + tup1[1:2]

(1, 'AI')

# All About Python SET{}

▪ Unordered
▪ Unchangeable
▪ Duplicates Not Allowed

In [123]:
s1 = {1,2,3,4,5,6}
s2 = {'ai', 'data Science'}

In [124]:
s1

{1, 2, 3, 4, 5, 6}

In [125]:
s2

{'ai', 'data Science'}

In [126]:
s1[0]

TypeError: 'set' object is not subscriptable

In [127]:
s1[0] = 0

TypeError: 'set' object does not support item assignment

In [128]:
s1 = {1,2,3,4,5,6,7,6,4,5,3,2,1,2,3,4,5,6,7,8}

In [129]:
s1

{1, 2, 3, 4, 5, 6, 7, 8}

In [130]:
id(s1)

1958056454624

In [131]:
id(s2)

1958056455072

In [132]:
import sys 
sys.getsizeof(s1)

728

In [133]:
import sys 
sys.getsizeof(s2)

216

In [134]:
s1

{1, 2, 3, 4, 5, 6, 7, 8}

In [135]:
s2

{'ai', 'data Science'}

In [136]:
#intersection
s1.intersection(s2)

set()

In [137]:
s2= {1,2,3,4,3}

In [138]:
s1.intersection(s2)

{1, 2, 3, 4}

In [139]:
# union
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [140]:
s1

{1, 2, 3, 4, 5, 6, 7, 8}

In [141]:
s2

{1, 2, 3, 4}

In [142]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8}

In [143]:
s1 & s2

{1, 2, 3, 4}

In [144]:
s1.add(45)

In [145]:
s1

{1, 2, 3, 4, 5, 6, 7, 8, 45}

In [146]:
s1.remove(8)

In [147]:
s1

{1, 2, 3, 4, 5, 6, 7, 45}

In [148]:
s1.clear()
s1

set()

# Array

In [149]:
import array as ar                             #must be use TYPE CODE

In [151]:
array = ar.array('i',[1,2,3,4,5])              # 'i' is type code

In [152]:
array

array('i', [1, 2, 3, 4, 5])

In [154]:
array = ar.array('f',[1.5,2,3,4,5])

In [155]:
array

array('f', [1.5, 2.0, 3.0, 4.0, 5.0])

In [156]:
array.insert(1, 10)                     #1 is position
                                        #10 is value

In [163]:
array

array('f', [1.5, 10.0, 2.0, 3.0, 4.0, 5.0])

In [ ]:
array('f', [1.5, 10.0, 2.0, 3.0, 4.0, 5.0])

In [164]:
array.reverse()

In [165]:
array

array('f', [5.0, 4.0, 3.0, 2.0, 10.0, 1.5])

In [166]:
array.count(10)

1

# Dictionary

In [168]:
dic={
    'name':'Tanvir',
     'varsity':'EDU',
     'year': 2023
     
}

In [169]:
dic

{'name': 'Tanvir', 'varsity': 'EDU', 'year': 2023}

In [170]:
dic.keys()

dict_keys(['name', 'varsity', 'year'])

In [171]:
dic.values()

dict_values(['Tanvir', 'EDU', 2023])

In [172]:
dic['varsity']= 'MIT'

In [173]:
dic

{'name': 'Tanvir', 'varsity': 'MIT', 'year': 2023}

In [174]:
dic={
    'name':'Tanvir',
     'varsity':'EDU',
     'year': 2021,
    'varsity': 'MIT',
    'year':2024
     
}

In [175]:
dic

{'name': 'Tanvir', 'varsity': 'MIT', 'year': 2024}

In [176]:
dic.popitem()

('year', 2024)

In [177]:
dic

{'name': 'Tanvir', 'varsity': 'MIT'}

In [179]:
dic['dep']= 'Data Science'

In [180]:
dic

{'name': 'Tanvir', 'varsity': 'MIT', 'dep': 'Data Science'}

In [181]:
dic['dept']= 'Data Science'

In [182]:
dic

{'name': 'Tanvir',
 'varsity': 'MIT',
 'dep': 'Data Science',
 'dept': 'Data Science'}

In [184]:
list(dic.keys())

['name', 'varsity', 'dep', 'dept']

In [185]:
list(dic.values())

['Tanvir', 'MIT', 'Data Science', 'Data Science']

In [186]:
set(dic.values())

{'Data Science', 'MIT', 'Tanvir'}

In [190]:
dic.pop('varsity')

'MIT'

In [193]:
dic.pop('dep')

'Data Science'

In [194]:
dic

{'name': 'Tanvir', 'dept': 'Data Science'}

In [195]:
dic.pop('dept')

'Data Science'

In [196]:
dic

{'name': 'Tanvir'}

# DataFrame

In [197]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\lenovo\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\lenovo\appdata\roaming\python\python39\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [198]:
import pandas as pd

In [200]:
li = ['data','science','ai']

In [201]:
df=pd.DataFrame(li)

In [202]:
df

         0
0     data
1  science
2       ai

In [204]:
df=pd.DataFrame(li,columns=['dept'])

In [205]:
df

      dept
0     data
1  science
2       ai

In [207]:
df.shape    #row, column

(3, 1)

In [208]:
row, col = df.shape

In [209]:
row

3

In [210]:
col

1

In [211]:
df2=pd.DataFrame(li,columns=['dept name'])

In [212]:
df2

  dept name
0      data
1   science
2        ai

In [214]:
df+df2

  dept dept name
0  NaN       NaN
1  NaN       NaN
2  NaN       NaN

In [216]:
df1=pd.DataFrame(li)
df2=pd.DataFrame(li)

In [217]:
df1

         0
0     data
1  science
2       ai

In [218]:
df2

         0
0     data
1  science
2       ai

In [221]:
df = pd.concat([df1,df2],axis=1)           #column=1
                                           #row=0

In [222]:
df

         0        0
0     data     data
1  science  science
2       ai       ai

In [224]:
df = pd.concat([df1,df2],axis=1)

In [225]:
df

         0        0
0     data     data
1  science  science
2       ai       ai

In [ ]:
df.drop([0,1],inplace=True)

In [250]:
df

Empty DataFrame
Columns: []
Index: [2]

In [ ]:
df.drop([0],inplace=True)

In [248]:
df

Empty DataFrame
Columns: []
Index: [2]

In [228]:
df.drop([1])

      0     0
0  data  data
2    ai    ai

In [229]:
df.drop([2])

         0        0
0     data     data
1  science  science

In [230]:
df.drop([0,1,2])

Empty DataFrame
Columns: [0, 0]
Index: []

In [231]:
df

         0        0
0     data     data
1  science  science
2       ai       ai

In [ ]:
df.drop([0],axis=1,inplace=True)

In [251]:
df

Empty DataFrame
Columns: []
Index: [2]

In [236]:
df.head()

         0        0
0     data     data
1  science  science
2       ai       ai

In [ ]:
# Finish Basic Python